.expense {
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 400px;
  margin: 5px;
}

.expense p, .expense h4 {
  margin: 0;
}

.expense-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

.expense-body {
  padding: 10px;
}

.expense-paid {
  color: gray;
}

.small-font {
  font-size: .6em;
}

.expense-wrapper {
  display: flex;
  flex-wrap: wrap;
}